:root {
    --color-primary: #00CE8E;
    --color-primary-shade: #0c6464;
    --color-primary-tint: #abdbdb;
    --color-secondary: #F750D3;
    --color-additional: #FFCE00;
    --color-dark: #0E0D0F;
    --color-medium: #2e3d44;
    --color-light: #dffbfb;
    --color-text: #2e3d44;
    --color-text-shade: #20272d;
    --color-text-tint: #E5E5EA;
    --color-danger: #e34860;
    --color-warning: #fdb555;
    --color-success: #00ba6c;
}