.hosting-setup-images-container {
    p {
        font-size: .9em;
        font-weight: 300;
        padding: 0;
        margin: 0;
        line-height: 1.4;
    }



    .section {
        border-bottom: 1px solid rgba($color: #ffffff, $alpha: .3);
        padding: 20px 0px;

        >h2 {
            padding: 10px 0;
        }

        >h3 {
            padding: 0px 0px 20px 0;
            font-weight: 500;
        }

        li {
            padding: 0;
            margin: 0;
        }

        .icon-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 10px;
        }
    }

    .section-steps {
        ul {
            >li {
                padding: 0;
                margin: 10px 0;

                >div {
                    display: flex;
                    justify-content: 'flex-start';
                    align-items: center;

                    >span {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 30px;
                        height: 30px;
                        border-radius: 10px;
                        background-color: var(--color-primary);
                        color: "#fff";
                        font-weight: 900;
                        line-height: .9;
                        margin-right: 10px;
                    }

                    >strong {
                        font-size: 1.1em;
                    }
                }

                >p {
                    padding: 0;
                    margin: 5px 0 0 0;
                    line-height: 1.5;
                }

            }
        }


    }

    .section-resources {
        ul {
            >li {
                display: flex;
                justify-content: flex-start;
                align-items: center;


            }
        }
    }

    .why-pagely-grid {
        >div {
            display: flex;
            justify-content: flex-start;
            align-items: center;

            strong {
                display: block;
                padding-bottom: 10px;
                //padding: 10px 0;
            }
        }
    }
}